
<h1> Reddit Homepage </h1>

<a href="/links/new">Make a new post!</a>

<div>
  <ol>
  <% @links.each do |link| %>
    <li><a href="<%= link.title %>"><%= link.title %></a>
    <p>Posted by: <%= link.user.username unless link.user.blank? %> </p>
    <p>Number of Upvotes: <%= link.scores %></p>
    <%= button_to 'Upvote', upvote_link_path(link.id),  method: :post %>
    <% end %>
  </ol>
</div>
